<!-- ユーザーのプロフィール -->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <!-- attachment_image_tagによりプロフィール画像が表示される -->
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <!-- 現在ユーザがログインしている場合 -->
  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
</div>
<!-- ユーザのプロフィールここまで -->

<!-- 部分用テンプレートを呼び出すためにrenderを使用 -->
<!-- post_images/listで部分テンプレートのパスを記述する。app/viewsより下のパスを記述する -->
<!-- ローカル変数post_imagesに渡すインスタンス変数を指定するzo -->
<%= render 'post_images/list', post_images: @post_images %>